element.style {
}
.bs-example>.panel,.bs-example>.panel-group {
    margin-right: 0;
    margin-left: 0;
    background-color: #fff;
    border-color: #ddd;
    border-width: 1px;
    border-radius: 4px 4px 0 0;
    -webkit-box-shadow: none;
    box-shadow: none;
}

.bs-example>.panel{
   border-color: inherit;
}

/*Inherited from div.panel-heading*/
.panel-eyrc1>.panel-heading {
    color: #3f5da5;
    background-color: #d8dff0;
    border-color: #c6d6e9;
}
.panel-eyrc2>.panel-heading {
    color: #2a545b;
    background-color: #65acb8;
    border-color: #467880;
}
.panel-eyrc3>.panel-heading {
    color: #428f74;
    background-color: #cde8df;
    border-color: #b8d0c8;
}
.panel-eyrc4>.panel-heading {
    color: #12271f;
    background-color: #7ab09d;
    border-color: #6d9e8d;
}
.panel-eyrc5>.panel-heading {
    color: #271219;
    background-color: #7B5462;
    border-color: #361923;
}
.panel-eyrc6>.panel-heading {
    color: #3a4a32;
    background-color: #91a387;
    border-color: #718965;
}

.panel-eyrc7>.panel-heading {
    color: #7f5b5b;
    background-color: #FFB7B7;
    border-color: #cc9292;
   
}
.panel-eyrc8>.panel-heading {
    color: #444500;
    background-color: #a5a67f;
    border-color: #6f7032;
}
.panel-eyrc9>.panel-heading {
    color: #99482e;
    background-color: #ffae94;
    border-color: #ff865e;
}
.panel-eyrc10>.panel-heading {
    color: #66573b;
    background-color: #FFDA95;
    border-color: #e5c486;
}
.panel-eyrc11>.panel-heading {
    color: #3a4a32;
    background-color: #91a387;
    border-color: #718965;
}

.panel {
  margin-bottom: 20px;
  background-color: #fff;
  border: 1px solid transparent;
  border-radius: 4px;
  -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, .05);
          box-shadow: 0 1px 1px rgba(0, 0, 0, .05);
}
.panel-body {
  padding: 15px;
    border-color: red;
}
.panel-heading {
  padding: 10px 15px;
  border-bottom: 1px solid transparent;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
}

.dropup,
.dropdown {
  position: relative;
}

.dropdown-toggle {
  *margin-bottom: -3px;
}

.dropdown-toggle:active,
.open .dropdown-toggle {
  outline: 0;
}
.panel-title {
  margin-top: 0;
  margin-bottom: 0;
  font-size: 16px;
  color: inherit;
}
.panel-title > a,
.panel-title > small,
.panel-title > .small,
.panel-title > small > a,
.panel-title > .small > a {
  color: inherit;
}
.panel-footer {
  padding: 10px 15px;
  background-color: #f5f5f5;
  border-top: 1px solid #ddd;
  border-bottom-right-radius: 3px;
  border-bottom-left-radius: 3px;
}
.panel > .list-group,
.panel > .panel-collapse > .list-group {
  margin-bottom: 0;
}
.panel > .list-group .list-group-item,
.panel > .panel-collapse > .list-group .list-group-item {
  border-width: 1px 0;
  border-radius: 0;
}
.panel > .list-group:first-child .list-group-item:first-child,
.panel > .panel-collapse > .list-group:first-child .list-group-item:first-child {
  border-top: 0;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
}
.panel > .list-group:last-child .list-group-item:last-child,
.panel > .panel-collapse > .list-group:last-child .list-group-item:last-child {
  border-bottom: 0;
  border-bottom-right-radius: 3px;
  border-bottom-left-radius: 3px;
}
.panel > .panel-heading + .panel-collapse > .list-group .list-group-item:first-child {
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}
.panel-heading + .list-group .list-group-item:first-child {
  border-top-width: 0;
}
.list-group + .panel-footer {
  border-top-width: 0;
}
.panel > .table,
.panel > .table-responsive > .table,
.panel > .panel-collapse > .table {
  margin-bottom: 0;
}
.panel > .table caption,
.panel > .table-responsive > .table caption,
.panel > .panel-collapse > .table caption {
  padding-right: 15px;
  padding-left: 15px;
}
.panel > .table:last-child,
.panel > .table-responsive:last-child > .table:last-child {
  border-bottom-right-radius: 3px;
  border-bottom-left-radius: 3px;

.panel > .table-responsive {
  margin-bottom: 0;
  border: 0;
}
.panel-group {
  margin-bottom: 20px;
}
.panel-group .panel {
  margin-bottom: 0;
  border-radius: 4px;
}
.panel-group .panel + .panel {
  margin-top: 5px;
}
.panel-group .panel-heading {
  border-bottom: 0;
}
.panel-group .panel-heading + .panel-collapse > .panel-body,
.panel-group .panel-heading + .panel-collapse > .list-group {
  border-top: 1px solid #ddd;
}
.panel-group .panel-footer {
  border-top: 0;
}
.panel-group .panel-footer + .panel-collapse .panel-body {
  border-bottom: 1px solid #ddd;
}