element.style {
}
.bs-example>.panel,.bs-example>.panel-group {
    margin-right: 0;
    margin-left: 0;
    background-color: #fff;
    border-width: 1px;
    border-radius: 4px 4px 0 0;
    -webkit-box-shadow: none;
    box-shadow: none;
}

.panel {
  margin-bottom: 20px;
  background-color: #fff;
  border: 1px solid transparent;
  border-radius: 4px;
  -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, .05);
          box-shadow: 0 1px 1px rgba(0, 0, 0, .05);
}

.panel-body {
  padding: 15px;
  border-color: green;
}

.panel-heading {
  padding: 10px 15px;
  border-bottom: 1px solid transparent;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
}
.panel-title {
  margin-top: 0;
  margin-bottom: 0;
  font-size: 16px;
}
.panel-footer {
  padding: 10px 15px;
  background-color: #f5f5f5;
  border-top: 1px solid #ddd;
  border-bottom-right-radius: 3px;
  border-bottom-left-radius: 3px;
}

/*Inherited from div.panel-heading*/
.panel-eyrc1>.panel-heading {
    color: #3f5da5;
    background-color: #d8dff0;
    border-color: #c6d6e9;
}
.panel-eyrc2>.panel-heading {
    color: #2a545b;
    background-color: #65acb8;
    border-color: #467880;
}
.panel-eyrc3>.panel-heading {
    color: #428f74;
    background-color: #cde8df;
    border-color: #b8d0c8;
}
.panel-eyrc4>.panel-heading {
    color: #3d584e;
    background-color: #7ab09d;
    border-color: #6d9e8d;
}
.panel-eyrc5>.panel-heading {
    color: #271219;
    background-color: #7B5462;
    border-color: #361923;
}
.panel-eyrc6>.panel-heading {
    color: #3a4a32;
    background-color: #91a387;
    border-color: #718965;
}
.panel-eyrc7>.panel-heading {
    color: #7f5b5b;
    background-color: #FFB7B7;
    border-color: #cc9292;   
}
.panel-eyrc8>.panel-heading {
    color: #444500;
    background-color: #a5a67f;
    border-color: #848465;
}
.panel-eyrc9>.panel-heading {
    color: #99482e;
    background-color: #ffae94;
    border-color: #ff865e;
}
.panel-eyrc10>.panel-heading {
    color: #66573b;
    background-color: #FFDA95;
    border-color: #e5c486;
}

/*border color of panel*/
.bs-example>.panel-eyrc1{
   border-color: #d8dff0;
}
.bs-example>.panel-eyrc2{
   border-color: #65acb8;
}
.bs-example>.panel-eyrc3{
   border-color: #cde8df;
}
.bs-example>.panel-eyrc4{
   border-color: #7ab09d;
}
.bs-example>.panel-eyrc5{
   border-color: #7B5462;
}
.bs-example>.panel-eyrc6{
   border-color: #91a387;
}
.bs-example>.panel-eyrc7{
   border-color: #FFB7B7;
}
.bs-example>.panel-eyrc8{
   border-color: #a5a67f;
}
.bs-example>.panel-eyrc9{
   border-color: #ffae94;
}
.bs-example>.panel-eyrc10{
   border-color: #FFDA95;
}

